# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
superlingo_fe/node_modules/

# Expo
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

superlingo_be/gcp-credentials.json

gcp-credentials.json


# Node.js
**/node_modules
.env
npm-debug.log